[Unit]
Description=FritzBox Prometheus Exporter

[Service]
User=fritzbox_exporter
Group=fritzbox_exporter
EnvironmentFile=/opt/fritzbox_exporter/.fritzbox_exporter.env
ExecStart=/opt/fritzbox_exporter/fritzbox_exporter -gateway-url http://fritz.box:49000 -metrics-file /opt/fritzbox_exporter/metrics.json -listen-address 127.0.0.1:9101

[Install]
WantedBy=multi-user.target
